@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

/*Para dispositivos*/
@import url("HerreroS_practicalibremovil.css") only screen and (min-width:320px) and (max-width:568px);
@import url("HerreroS_practicalibretablet.css") only screen and (min-width:569px) and (max-width:1024px);
@import url(HerreroS_practicalibrepc.css) only screen and (min-width:1025px);

/*ESTILO*/
h1 {
    font-family: 'Shippori Mincho B1', serif;
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
}

h3, h4 {
    font-family: 'Cuprum', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    color: red;
}

ul {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    padding: 12px;
}

li {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 900;
    margin-left: 20px;
}

li a {
    color: white;
    display: block;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th.desc {
    font-weight: bolder;
    font-size: 25px;
}

th {
    font-size: 18px;
}

td {
    font-size: 18px;
}

div.interes p {
    font-family: 'Baloo Chettan 2', cursive;
    text-align: justify;
}

label {
    font-family: 'Cutive Mono', monospace;
    font-weight: 600;
}
legend {
    font-weight: bolder;
}


tr:first-of-type th {
    text-transform: uppercase;
}

p.politicas {
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    font-size: 9px;
}